@import url("variables.css");

* {
	padding: 0;
	margin: 0;
	font-family: Nunito, sans-serif;
}
body {
	background-color: var(--background);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231080fe20' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	color: var(--text);
}
* {
	--padding: 16px;
	--padding-2: 4px;
	--padding-3: 2px;
	--margin: 8px;
	--margin-2: 4px;
}

header, footer {
	padding: var(--padding);
	background-color: var(--background-3);
	color: var(--text);
}

div.content {
	padding: var(--padding);
}

div.box > div.head {
	background-color: var(--primary-alpha);
	color: #ffffff;
	padding: var(--padding);
	border-radius: 8px 8px 0 0;
}
div.head > span {
	color: var(--primary);
	font-size: 24px;
	font-weight: bold;
}
div.box > div.body {
	background-color: var(--background-2);
	color: var(--text);
	padding: var(--padding);
	border-radius: 0 0 8px 8px;
}

a.button {
	background-color: var(--primary-alpha);
	color: var(--primary);
	height: 32px;
	padding: var(--padding-2);
	margin: var(--padding-2);
	border-radius: 8px;
	border: none;
	outline: none;
}
a.button.filled,
a.button:hover {
	background-color: var(--primary);
	color: #ffffff;
}


a {
	color: var(--primary);
	text-decoration: none;
}
